<nav class="navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">Event Management</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li ><a  routerLink="/home">Home <span class="sr-only">(current)</span></a></li>
        <li><a *ngIf="admin" routerLink="/users">Users List</a></li>
        <li><a *ngIf="admin" routerLink="/events">All Events</a></li>
        <li><a routerLink="/approvedEvents">Events List</a></li>
        <li><a *ngIf="org" routerLink="/createEvent">Create Event</a></li>
        <li><a *ngIf="org" routerLink="/myevent">My Event</a></li>
        <li><a *ngIf="usr" routerLink="/myticket">My Tickets</a></li>
        <li><a routerLink="/myprofile">My Profile</a></li>
        <li><a routerLink="/login">Login</a></li>
        <li><a routerLink="/login">Logout</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
