<div class="row" >
  <div class="col-md-6">
    <h2>My Tickets</h2>
    <div>
      <ul style="list-style-type:disc" *ngFor="let ticket of tickets "class="list-group-item">
        <li class="list-group-item">Ticket #: {{ ticket.ticketid }}</li>
        <li class="list-group-item">Event Name: {{ ticket.eventname }}</li>
        <li class="list-group-item">Date: {{ ticket.date }}</li>
        <li class="list-group-item">Time: {{ ticket.eventtime }}</li>
        <button type="submit" class="btn btn-danger"
                (click)="deleteTicket(ticket.ticketid)">Delete</button></ul>
    </div>
  </div>

  <div class="col-md-6">
    <h2>Attended Tickets</h2>
    <div>
      <ul style="list-style-type:disc" *ngFor="let ticket2 of tickets$ "class="list-group-item">
        <li class="list-group-item">Ticket #: {{ ticket2.ticketid }}</li>
        <li class="list-group-item">Event Name: {{ ticket2.eventname }}</li>
        <div *ngIf="rated(ticket2.rated)">
        <h2>Review:</h2>
        <form [formGroup]="myForm">
          <div class="form-group">
            <input type="coumnt" class="form-control" id="inputComment"
                   placeholder="Add Comment" name="coumnt"
                   formControlName="coumnt">
          </div>
          <div class="form-group">
            <label for="selectRate">Rate</label>
            <select class="form-control" id="selectRate" formControlName="review" name="review">
              <option value="" disabled>Select Rate</option>
              <option value=1>1</option>
              <option value=2>2</option>
              <option value=3>3</option>
              <option value=4>4</option>
              <option value=5>5</option>
            </select>
          </div>
          <button (click)="addReview(ticket2.ticketid)" [disabled]="!rated(ticket2.rated)"type="submit" class="btn btn-success">Rate</button>
        </form>
        </div>
      </ul>
    </div>

    <div>
    </div>

  </div>
</div>


