<div class="row" >
  <div class="col-md-6">
    <h2>Events List</h2>
    <div>
      <ul style="list-style-type:disc" *ngFor="let event of events$ " class="list-group-item" (click)="getEvent(event)">
        {{event.eventid}} - {{event.eventname}} - {{event.city}}
        <button (click)="getEvent(event)" [routerLink]="['/event/', event.eventid]" class="btn btn-sample" style="float: right;">Details</button>
      </ul>
    </div>
  </div>

  <div class="col-md-6">
    <!--<app-user-detail [event]="currentEvent"></app-user-detail>-->
    <!--<app-event-detail [event$]="currentEvent"></app-event-detail>-->
  </div>

</div>


