<div class="row" >
  <div class="col-md-6">
    <h2>All Events</h2>
    <button routerLink="/notApprovedEvents" class="btn btn-warning" style="margin-bottom: 15px">Not Approved Events</button>
    <div>
    <ul style="list-style-type:disc" *ngFor="let event of events$ " class="list-group-item" (click)="getEvent(event)">
      {{event.eventid}} - {{event.eventname}} - {{event.city}}
      <div>
      <button (click)="getEvent(event)" [routerLink]="['/event/', event.eventid]" class="btn btn-sample">Details</button>
      </div>
    </ul>
    </div>
  </div>

  <div class="col-md-6">
    <!--<app-user-detail [event]="currentEvent"></app-user-detail>-->
    <!--<app-event-detail [event$]="currentEvent"></app-event-detail>-->
  </div>

</div>


