<div class="row" >
  <div class="col-md-6">
    <h2>Event Tickets</h2>
    <div>
      <ul style="list-style-type:disc" *ngFor="let ticket of tickets "class="list-group-item">
        <li class="list-group-item">Ticket #: {{ ticket.ticketid }}</li>
        <li class="list-group-item">Date: {{ ticket.date }}</li>
        <li class="list-group-item">Event: {{ ticket.eventname }}</li>
        <li class="list-group-item">Rate: {{ ticket.review }}</li>
        <li class="list-group-item">Comment: {{ ticket.comment }}</li>

      </ul>
    </div>
  </div>
</div>


